<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public IJSRuntime jsRuntime { get; set; }

    private async Task HandleNavigateAsync(NavigationContext args)
    {
        if (args.Path.EndsWith("/MyPage"))
        {
            await jsRuntime.InvokeVoidAsync("import", "./_framework/System.IO.FileSystem.Watcher.dll");

        }
    }
}

