@model IEnumerable<TrainingCenter.Models.Trainee>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>
<environment include="Development">
    <p>You are currently in the development environment.</p>
</environment>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TraineeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TraineeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TraineeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
